<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Clink Reservation">
    <title>{% block title %}Django Clink{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">    
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <!-- Nav Bar -->
    {% include 'main/navbar.html' %}
    <!-- Nav Bar -->
    {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{message}}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <!-- Body Block -->
        {% block main %}
        {% endblock %}
    </div>    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="{% static 'main/js/bootstrap-datetimepicker.min.js' %}"></script> 
    <script>

        $(()=>{
            if (!localStorage.getItem('access_token')){
                $('#appoint').addClass('disabled')
                $('#admin').css({display:'none'})
                $('#signup').css({display:'inline-block'})
                let logState = $('#log-state')
                logState.html('Log in')
                logState.attr('href', 'http://localhost:8000/account/login/')
            }
            else {
                $.ajax({
                    url:'http://localhost:8000/auth/user/',
                    method:'GET',
                    contentType:'application/json',
                    headers:{Authorization:`Bearer ${localStorage.getItem('access_token')}`},
                    dataType:'json',
                    success:(data => {
                        $('#admin').attr('href', `http://localhost:8000/admin-panel/${data.id}/`)
                        $('#admin').css({display:data.is_staff?'inline-block':'none'})
                       

                    })
                })
            }
        })

        let handleLogout = () => {
            localStorage.clear()
            window.location.href = 'http://localhost:8000/'
        }
    </script>
    {% block extra %}
    {% endblock %}   
</body>
</html>