{% extends 'main/base.html' %}
{% block title %} Fritill clinic Log in {% endblock %}

{% block main %} 

<div class="row mt-5">
    <div class="col-12 col-lg-8 mx-auto">
        <div id="alerts"></div>
        <form id="login-form" onsubmit="handleSubmit(event)">
            <div class="form-group">
                <label for="username" class="form-label mt-3">User Name</label>
                <input type="text" class="form-control" id="username"placeholder="User Name" required>
            </div>

            <div class="form-group">
                <label for="password" class="form-label mt-3">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div>
                <small id="emailHelp" class="form-text text-muted"><a href="{% url 'account:password-reset-request' %}">Forget your password?</a></small>
            </div>
           
            <div class="form-group d-grid gap-2 mt-4">
                <input type="submit" value="Log in" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>

{% endblock %}


{% block extra %} 
<script>
    let handleSubmit = e => {
        e.preventDefault()
        let loginData = {
            username: $('#username').val(),
            password: $('#password').val(),
        }
        // if (newUser.password !== newUser.password2) $('#alerts').append(`<div class="alert alert-dismissible alert-danger" id="alert">
        //     <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        //     <strong>Oh snap!</strong> Password dosen't match
        // </div>`)
        console.log(loginData)
        let jsonObj = JSON.stringify(loginData)
        fetch('http://localhost:8000/auth/api/token/', {
            method: 'POST',
            headers: {'content-type': 'application/json'},
            body: jsonObj
        })
        .then(res => res.json())
        .then(data => {
            if (data.access){
                localStorage.setItem('access_token', data.access)
                localStorage.setItem('refresh_token', data.refresh)
                window.location.href = 'http://localhost:8000/'
            }
        })
    }
</script>
{% endblock %}
